

  <div class="form-group">

<%= form_tag notes_path do %>

   
	<%= label_tag("message") %>
	<%= text_area_tag :body, note.body, :class => "form-control"%>
	<%= label_tag("recipient email") %>
	<%= email_field_tag :recipient_email, note.recipient_email, :class => "form-control" %>

	
<% unless current_user %>
	<%= label_tag("your email") %>
	<%= email_field_tag :sender_email, note.sender_email, :class => "form-control" %>
<% end %>

<% if note.errors.messages[:sender_email].present? %>
<%= note.errors.messages[:sender_email].first %>
<% end %>

	<%= label_tag("days to deliver in") %>
	<%= number_field_tag :days, note.days, :class => "form-control"%>

	<%= label_tag("or randomize days") %>
	<%= check_box_tag :surprise_me %> 
	<%= hidden_field_tag :reply_id, @reply_id %></h5>
</div>

	<%= submit_tag "send message", :class => "btn btn-submit pull-right"%>


<br>


	
<% end %>
</div>
