

<div class="container box">

<h2 class="white"> send a message to the future.</h2>

<%= form_tag notes_path do %>
	
	<p><%= text_area_tag :sender_email, nil, :class => "form-control", :placeholder => "from:" %></p>
	<p><%= text_area_tag :recipient_email, nil, :class => "form-control", :placeholder => "to:" %></p>
	<p><%= text_area_tag :body, nil, :class => "form-control messagebox", :maxlength =>"600", :placeholder => "what do you want to say?" %></p>
 	
	<p><%= text_area_tag :days, nil, :class => "form-control",  :placeholder => "how many days in the future should we send it?" %>
	<p><%= submit_tag "send message", :class => "btn btn-submit" %></p>

<% end %>

</div>