

<div class="container box">

<h2 class="white"> dear future,</h2>


<%= form_tag notes_path do %>



			<p><%= text_area_tag :body, nil, :class => "form-control messagebox", :rows => 5, :placeholder => "write your message", :maxlength =>"600" %></p>
	
	<div class="padding60"></div>

			<%= text_area_tag :recipient_email, nil, :class => "form-control", :id => "input-email", :placeholder => "recipient email" %></p>
			<%= text_area_tag :sender_email, nil, :class => "form-control", :id => "input-email", :placeholder => "your email" %>



		<div class = "white"> set the flux capacitor for <%= text_area_tag :days, nil, :class => "form-control", :id => "input-days", :placeholder => "" %> days </div>

	
		<%= submit_tag "send message", :class => "btn btn-submit"%>
	


<% end %>

</div>